<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>115403219546-ramq707e82j33bfj92cf67tfcjplu6dh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.115403219546-ramq707e82j33bfj92cf67tfcjplu6dh</string>
	<key>API_KEY</key>
	<string>AIzaSyArpBAE_RKz5D8dM_Utl1mTGjfesbOY9HE</string>
	<key>GCM_SENDER_ID</key>
	<string>115403219546</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.instagramClone</string>
	<key>PROJECT_ID</key>
	<string>instagram-clone-2701d</string>
	<key>STORAGE_BUCKET</key>
	<string>instagram-clone-2701d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:115403219546:ios:fee6401388a03b80f96e63</string>
</dict>
</plist>